$fontSC: 'PingFang SC';
.govItem {
    width: 100%;
    height: 2.7733rem;
    border-radius: 0.25rem;
    opacity: 1;
    margin: 0 auto;
    margin-top: 0.2667rem;
    background: linear-gradient(225deg, rgba(255, 228, 228, 1) 0%, rgba(248, 247, 247, 1) 100%);
    .govItem_left {
        flex: 3.864;
        height: 100%;

        .govItem_left_logo {
            // background-color: aquamarine;
            width: 1.9467rem;
            height: 1.9467rem;
            img {
                width: 100%;
                height: 100%;
            }
            span {
                font-size: 0.2133rem;
                margin-top: 6px;
            }
        }
    }
    .govItem_right {
        flex: 6.136;
        height: 100%;
        justify-content: flex-start;
        margin-top: 0.4rem;

        .govItem_right_title {
            color: rgba(68, 120, 255, 1);
            font-size: 0.4267rem;
            font-weight: 700;
            font-family: $fontSC;
            text-align: left;
            letter-spacing: 0.0085rem;
            margin-left: 0.5rem;
        }

        .govItem_right_wrap {
            text-align: center;
            .grw_text {
                margin-top: 0.15rem;
            }
            .grw_btn {
                width: 2.1333rem;
                height: 0.84rem;
                line-height: 0.84rem;
                border-radius: 4px;
                margin-top: 0.2rem;
            }
            .grw_btn-black {
                background-color: #fff;
                color: #999;
                font-weight: 400;
                border: none;
            }
        }
    }
}
