$fontSC: 'PingFang SC';
// home_top
.home_top {
    width: 100%;
    height: 7.8667rem;
    padding-top: 6.2933rem;
    position: relative;
    text-align: center;
    background-image: url('../../assets/images/home/Group 1@2x.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .home_top_banner {
        width: 71.2%;
        height: 1.0133rem;
        background-color: #d31c1c;
        margin: 0 auto;
        color: #fff;
    }
}

.home_middle {
    width: 90.4%;
    margin: 0 auto;
    margin-top: 0.6133rem;
    .home_middle_info {
        height: 0.5333rem;
        line-height: 0.5333rem;
        font-size: 0.3733rem;
        font-family: 'PingFang SC';
        text-align: center;
        letter-spacing: 0.0075rem;
    }

    .home_middle_list {
        margin: 0 auto;
        margin-top: 0.64rem;
        text-align: center;

        span {
            color: rgba(215, 10, 11, 1);
            font-size: 0.4267rem;
            font-weight: 700;
            font-family: 'PingFang SC';
            text-align: center;
            letter-spacing: 0.0085rem;
        }
    }
}

// home_bottom
// .home_bottom {
//     margin: 0 auto;
//     width: 19.9375rem;
//     height: 11.8rem;
//     .home_bottom_title {
//         color: rgba(215, 10, 11, 1);
//         font-weight: 700;
//         font-family: $fontSC;
//         text-align: center;
//         letter-spacing: 0.02rem;
//     }
//     .home_bottom_explain {
//         color: rgba(0, 0, 0, 1);
//         font-family: $fontSC;
//         font-size: 0.625rem;
//         font-weight: 400;
//         letter-spacing: 0.2px;
//         opacity: 1;
//         text-align: left;
//         text-indent: 2em;
//         line-height: 1rem;
//     }
//     .home_bottom_info {
//         color: rgba(0, 0, 0, 1);
//         font-family: $fontSC;
//         font-size: 0.625rem;
//         font-weight: 400;
//         letter-spacing: 0.2px;
//         opacity: 1;
//         text-align: left;
//         line-height: 1.2rem;
//     }
// }
